<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>HelloSpring</display-name>
	
	<session-config>
		<session-timeout>10</session-timeout>			<!-- 가장 최신의 request로부터 10분간 session 유지 -->
	</session-config>

	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>  <!-- setter -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/application.xml</param-value>
		</init-param>
		<init-param>
	         <param-name>throwExceptionIfNoHandlerFound</param-name>
	         <param-value>true</param-value>
      	</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- http://localhost:8080/HelloSpring/ -->
	<!-- http://localhost:8080/HelloSpring/abc -->
	<!-- http://localhost:8080/HelloSpring/abc/123 -->
	<!-- http://localhost:8080/HelloSpring/abc/123/list -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>springCharacterEncoding</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>springCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- needed for ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/*Context.xml</param-value>
	</context-param>

	<!-- Bootstraps the root web application context before servlet initialization -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>